<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script>
    $(document).ready(function(){
  $("#b01").click(function(){
  htmlobj=$.ajax({url:"template/test1.txt",async:false});
  $("#myDiv").html(htmlobj.responseText);
  });
   });
               </script>

</head>
<body>
<form th:action="@{/greeting}" th:object="${user}" th:method="post">
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{deparment}"/>
    <input type="submit"/>
</form>


<div class="myDiv">
    <sapn th:text="${user.name}">vinphy,</sapn>
    <sapn th:text="${message}">welcome!</sapn>
    <button id="b01" type="button">Change Content</button>
</div>
<img src="/images/a.gif"/> 
</body>
</html>